<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGkXU6n9OfAbvSwPEypjOasr606yFV_8k</string>
	<key>GCM_SENDER_ID</key>
	<string>124577898322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dashboard</string>
	<key>PROJECT_ID</key>
	<string>dashboard-a230b</string>
	<key>STORAGE_BUCKET</key>
	<string>dashboard-a230b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124577898322:ios:2bf29f8abe6fc52d2a648b</string>
</dict>
</plist>